# Défi open data : Accès aux données météos

Collectées grâce à des stations au sol, des radars, etc. ou produites à partir de modèles de prévision, les données météorologiques sont foisonnantes.

Il est néanmoins parfois difficile, pour les non spécialistes, de :
* **trouver et accéder** aux informations recherchées ;
* **prendre en main** les données (compréhension des données, gestion des différents formats, etc.).

**La problématique**

Ce projet vous propose de développer des solutions qui permettent de (au choix) :
* **faciliter l’accès et la compréhension** des données publiques météorologiques ;
* **simplifier la manipulation et l’exploitation** de ces données.

Beaucoup de données ouvertes sont mises à disposition pour vous permettre de répondre à ce sujet. Plusieurs jeux de données ont déjà été chargés dans cet environnement ([cf. liste](https://defis.data.gouv.fr/defis/6639df879e70e0b00e5aeef1/)) et vous pouvez bien évidemment en ajouter d’autres selon vos besoins.

Une fois vos travaux terminés, partagez-les avec l’ensemble de la communauté [en publiant une réutilisation sur data.gouv.fr](https://guides.data.gouv.fr/guide-data.gouv.fr/reutilisations) !

# Importer des données
Nous mettons à disposition une fonction utilitaire qui permet de charger la majorité des ressources de data.gouv.fr à partir de leur identifiant sur le site (exemple : `"2876a346-d50c-4911-934e-19ee07b0e503"`). Vous pouvez l'utiliser comme suit :

In [1]:
from utils import load_table_from_resource_id, DATAGOUV_URL
import requests

# on prend une ressource principale d'un jeu de données de Météo France
resources = requests.get(DATAGOUV_URL + "api/1/datasets/661d079b6357625e12013241/").json()["resources"]
resources = [r for r in resources if r["type"] == "main"]

df = load_table_from_resource_id(resources[0]["id"])
df

        longitude  latitude      date  ETP_grille
0           -4.75    48.375  20240101         0.9
1           -4.75    48.375  20240102         1.3
2           -4.75    48.375  20240103         1.6
3           -4.75    48.375  20240104         1.2
4           -4.75    48.375  20240105         1.4
...           ...       ...       ...         ...
671809       9.50    42.625  20240606         4.7
671810       9.50    42.625  20240607         5.2
671811       9.50    42.625  20240608         5.4
671812       9.50    42.625  20240609         3.7
671813       9.50    42.625  20240610         5.0

[671814 rows x 4 columns]

# Exemple de réalisation : EasyAccess, créé pendant le [Hackathon Météo France](https://www.data.gouv.fr/fr/posts/retour-sur-le-hackathon-donnees-ouvertes-meteo-france/)

#### https://www.data.gouv.fr/fr/reuses/meteofranceapi-easyacces/